* {
     font-family: 'Montserrat', sans-serif;   
}

body {
    margin: 20px;
}



.navbar-custom {
    color: white;
}

.navbar-brand img{
     height: 200px;
    width: 200px;
}


.backgroundImg{
    background-image: url(img/housemodel3d.png);
    background: cover;
    height: 100vh;
    z-index: 0;
}

.intro{
    padding: 80px;
}

.buyWLydie{
    padding-top: 100px;
}

.options{
    padding-top: 20px;
}

.profile {
    height: 300px;
}


a:hover{
    text-decoration: none;
    
}


.one {
    background-color: #a40606;
    color: white;
    padding: 20px;
}

.two {
    background-color: #2f4858;
    color: white;
}

.carousel {
    align-content: center;
}


.testimonies {
    width: 100vw;
    padding: 20px;
}

footer{
    background-color: #d00000;
    color: white;
    padding: 20px;
}

.nav-link{
    color: #fff;
}

.nav-link:hover{
    color: #a40606;
}

.butn{
    border-radius: 10px;
    border-style: hidden;
    background-color: #d00000;
    color: white;
    border-color: #d00000;
    height: 45px;
    width: auto;
    margin-bottom: 20px;
}

.butn:hover{
    border-radius: 10px;
    background-color: white;
    color: black;
    border-color: #fff;
    height: 45px;
    width: auto;
}

.butnb{
    border-radius: 10px;
    border-style: hidden;
    background-color: #d00000;
    color: white;
    border-color: #d00000;
    height: 50px;
    width: auto;
    margin-bottom: 20px;
}

.butnb:hover{
    border-radius: 10px;
    background-color: white;
    color: black;
    border-color: #fff;
    height: 45px;
    width: auto;
}


.copyright{
    padding-top: 8px;
}

/*RENTAL PAGE*/

.rental img{
    height: 100px;
    padding: 10px;
}

.container .table {
    width: 300px;
}

.past {
    color: gray;
}

td a{
    color: white;
}
